<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <arg name="model" default="$(find test_arm)/urdf/arm_Gen3_gazebo.urdf"/>   
  <param name="robot_description" command="$(find xacro)/xacro $(arg model)"/>

  <include file="$(find gazebo_ros)/launch/empty_world.launch"/>

  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -urdf -model arm_robot" />
</launch>