<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <arg name="model" default="$(find test_arm)/urdf/arm_Gen3_gazebo.urdf"/>   
  <param name="robot_description" command="$(find xacro)/xacro $(arg model)"/>

  <include file="$(find gazebo_ros)/launch/empty_world.launch"/>

  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -urdf -model arm_Gen3_robot" />
  <rosparam file = "$(find test_arm)/config/arm_Gen3_config.yaml" command = "load"/>
  <node name="controller_spawner" pkg="controller_manager"
        type="spawner" respawn="false"
        output="screen" ns="/arm_robot"
        args="body2_joint_position_controller
              body3_joint_position_controller
              body4_joint_position_controller
              body5_joint_position_controller
              body6_joint_position_controller
              body7_joint_position_controller
              joint_state_controller"/>
</launch>